<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.anyu.callforwarding">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
    <uses-permission android:name="android.permission.CALL_SCREENING_SERVICE" />
    <application>
        <service
            android:name=".CallForwardingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name=".service.CallShowService" />
            </intent-filter>
        </service>
        </application>
</manifest>